<style type="text/css">
    a .chosen-single{overflow: visible;}
</style>
<div class="panel panel-dark panel-alt">
    <div class="panel-heading">
        <div class="panel-btns">
            <a class="panel-close" data-dismiss="modal" aria-hidden="true">&times;</a>
        </div><!-- panel-btns -->
        <h3 class="panel-title">添加物品</h3>       
    </div>
    <div class="panel-body">
        <form class="form-horizontal form-bordered" method="post" action="{:U("Loot/submitLoot")}"> <!-- form begin -->
                                                             
            <div class="form-group">
                <label class="col-sm-3 control-label"><font color="red">* </font>物品ID</label>
                <div class="col-sm-8">
                <input type="text" name="LootID" placeholder="物品ID" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label"><font color="red">* </font>物品名称</label>
                <div class="col-sm-8">
                <input type="text" name="LootName" placeholder="物品名称" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">物品类型 <span class="asterisk">*</span></label>
                <div class="col-sm-4">
                    <select class="form-control mb15 chose_change" name="LootType">
                    <foreach name="LootTypes" item="t" key="k">
                      <option value="{$k}" >{$t}</option>
                    </foreach>
                    </select>  
                </div>               
            </div><!-- form-group -->
            
            <div class="panel-footer" style="text-align: center;">
              <button class="btn btn-info">添加物品</button>
            </div>
        </form> <!-- form end -->
    </div>
</div>

<script>
jQuery(document).ready(function(){

    jQuery('#autoResizeTA').autogrow();

    jQuery(".chose_change").change(function(event) {
        var _val = $(this).val();
        console.log(_val);
        if(_val==1){
            $(".player_list").css({
                display: 'block',
            });
        }else{
            $(".player_list").css({
                display: 'none',
            });
        }
    });



});
</script>