<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<link rel="shortcut icon" href="{$Think.const.RESOURCE_URL}images/favicon.png" type="image/png">
<title>Bracket Responsive Bootstrap3 Admin</title>
<link rel="stylesheet" href="{$Think.const.RESOURCE_URL}css/style.default.css" rel="stylesheet">
<link rel="stylesheet" href="{$Think.const.RESOURCE_URL}css/bootstrap-fileupload.min.css" />
<link rel="stylesheet" href="{$Think.const.RESOURCE_URL}css/bootstrap-timepicker.min.css" />
<link rel="stylesheet" href="{$Think.const.RESOURCE_URL}css/jquery.tagsinput.css" />
<link rel="stylesheet" href="{$Think.const.RESOURCE_URL}css/colorpicker.css" />
<link rel="stylesheet" href="{$Think.const.RESOURCE_URL}css/dropzone.css" />
<link rel="stylesheet" href="{$Think.const.RESOURCE_URL}css/jquery.datatables.css" rel="stylesheet">
<link rel="stylesheet" href="{$Think.const.RESOURCE_URL}css/my_style.css" rel="stylesheet">
<include file="Common/common_js" />
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="{$Think.const.RESOURCE_URL}js/html5shiv.js"></script>
  <script src="{$Think.const.RESOURCE_URL}js/respond.min.js"></script>
  <![endif]-->
</head>

<body style="overflow: visible;">

<section>

<include file="Common/sidebar" />

<div class="mainpanel">

        <include file="Common/headbar" />

<div class="contentpanel">
        <div class="row">
      <div class="col-md-12">          
          <div class="panel panel-info">
            <div class="panel-heading">
              <div class="panel-btns">
              </div><!-- panel-btns -->
              <h3 class="panel-title">地图掉落</h3>
            </div>
            <div class="panel-body">
               <a class="btn btn-warning" href="{:U("Loot/lootAdd")}" data-toggle="modal" data-target=".bs-example-modal-panel">添加地图</a>
               <a class="btn btn-pink" href="{:U("Loot/excelImport")}" data-toggle="modal" data-target=".bs-example-modal-panel">导入地图</a>
            </div>
          </div><!-- panel -->
        </div><!-- col-sm-6 -->

      <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-info mb30">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>物品ID</th>
                        <th>物品名称</th>
                        <th>类型</th>                        
                        <th>操作</th>                       
                      </tr>
                    </thead>
                    <tbody>
                    <volist name="list" id="loot" key="k">
                      <tr>
                        <td><img src="{$loot.img_info}" class="small_head"/></td>
                        <td>{$loot.loot_id}</td>
                        <td class="loot_name">{$loot.loot_name}</td>                         
                        <td><php>echo $LootTypes[$loot["loot_type"]];</php></td>
                        <td>
                        <a class="btn btn-lightblue small_btn" data-toggle="modal" data-target=".bs-example-modal-panel" href="{:U("Loot/lootEdit",array('aid'=>$loot['auto_id']))}">编辑</a>
                            <a class="btn btn-danger small_btn del_action" href="{:U("Loot/lootDel",array('auto_id'=>$loot['auto_id']))}">删除</a>
                        </td>
                      </tr>
                    </volist>                      
                    </tbody>
                </table>
            </div><!-- table-responsive -->
        </div>
                </div> <!-- end of row -->
        </div> <!-- end of contentpanel -->
</div> <!-- end of mainpanel -->

</section>

<div class="modal fade bs-example-modal-panel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content"></div>
  </div>
</div>
<script src="{$Think.const.RESOURCE_URL}js/retina.min.js"></script>
<script src="{$Think.const.RESOURCE_URL}js/holder.js"></script>
<script src="{$Think.const.RESOURCE_URL}js/morris.min.js"></script>
<script src="{$Think.const.RESOURCE_URL}js/raphael-2.1.0.min.js"></script>
<script src="{$Think.const.RESOURCE_URL}js/jquery.autogrow-textarea.js"></script>
<script src="{$Think.const.RESOURCE_URL}js/bootstrap-fileupload.min.js"></script>
<script src="{$Think.const.RESOURCE_URL}js/bootstrap-timepicker.min.js"></script>
<script src="{$Think.const.RESOURCE_URL}js/jquery.maskedinput.min.js"></script>
<script src="{$Think.const.RESOURCE_URL}js/jquery.tagsinput.min.js"></script>
<script src="{$Think.const.RESOURCE_URL}js/jquery.mousewheel.js"></script>
<script src="{$Think.const.RESOURCE_URL}js/dropzone.min.js"></script>
<script src="{$Think.const.RESOURCE_URL}js/colorpicker.js"></script>
<script src="{$Think.const.RESOURCE_URL}js/custom.js"></script>
<script>
jQuery(document).ready(function(){
        
  $("#myModal").on("hidden.bs.modal", function() {
    $(this).removeData("bs.modal");
  });

    jQuery(".del_action").click(function(event) {
      var _parentTr = $(this).closest('tr');
      var _roleName = _parentTr.find(".loot_name").text();
      var _msg = "您确定删除\""+_roleName+"\"吗？此操作是不可恢复操作，请慎重操作！";
      if(!confirm(_msg)){
        event.preventDefault();
        return false;
      }
    });

});
</script>
</body>
</html>