<div class="panel panel-dark panel-alt">
    <div class="panel-heading">
        <div class="panel-btns">
            <a class="panel-close" data-dismiss="modal" aria-hidden="true">&times;</a>
        </div><!-- panel-btns -->
        <h3 class="panel-title">添加角色</h3>       
    </div>
    <div class="panel-body">
        <form class="form-horizontal form-bordered" method="post" action="{:U("System/addRole")}"> <!-- form begin -->
							     
            <div class="form-group">
            	<label class="col-sm-3 control-label"><font color="red">* </font>角色名称</label>
            	<div class="col-sm-4">
                <input type="text" name="roleName" placeholder="角色名称" class="form-control" />
            	</div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">权限设置 <span class="asterisk">*</span></label>
                <div class="col-sm-9">
				<foreach name="list" item="module">
	                <div class="row">
	                	<div class="ckbox ckbox-primary">
			              <input type="checkbox" id="role_permission{$module.pid}" value="{$module.menu_code}" name="module[]" class="permission_module"/>
			              <label for="role_permission{$module.pid}"><b>{$module.menu_title}</b></label>
			            </div><!-- rdio -->

						<assign name="children" value="$module.children" /><!-- 赋值操作 -->
						<foreach name="children" item="p">
	                    <div class="ckbox ckbox-primary checkbox_inline">
	                      <input type="checkbox" id="role_permission{$p.pid}" value="{$p.menu_code}" name="permission[]" class="permission_item"/>
	                      <label for="role_permission{$p.pid}">{$p.menu_title}</label>
	                    </div><!-- rdio -->
	                    </foreach>
	                 
	                </div>
	            </foreach> 
                </div>               
            </div><!-- form-group -->

				     			                          
            
			<div class="panel-footer" style="text-align: center;">
              <button class="btn btn-primary">添加</button>
            </div>
    	</form> <!-- form end -->
    </div>
</div>
<script>
	jQuery(document).ready(function(){
	// 全选反选
    jQuery(".permission_module").click(function(){
    	var _parentRow = $(this).closest('.row');
    	var _subCheckbox = _parentRow.find('.permission_item');
    	if($(this).is(':checked')){
    		_subCheckbox.attr('checked',1);
    	}else{
    		_subCheckbox.attr('checked',false);
    	}
    });
});
</script>