<h5 class="sidebartitle">Navigation</h5>
    <ul class="nav nav-pills nav-stacked nav-bracket">
    	<li><a href="index.html"><i class="fa fa-home"></i> <span>Dashboard</span></a></li>
      <assign name="controller" value="$Think.const.CONTROLLER_NAME" />
      
        <li class="nav-parent nav-active active">

      <a href=""><i class="fa fa-suitcase"></i> <span>副本掉落</span></a>
      
      	<ul class="children" style="display: block">
        
	   <li><a href="{:U('Loot/lootList')}"><span class="pull-right badge badge-danger">new</span>
          <i class="fa fa-caret-right"></i>物品列表</a>
          </li>    
          <li><a href="{:U('Atlas/index')}"> <span class="pull-right badge badge-danger">new</span>
                  <i class="fa fa-caret-right"></i>掉落组</a>
          </li>              
        </ul>  
        </li>

    	<!-- <li class="nav-parent nav-active active"><a href=""><i class="fa fa-suitcase"></i> <span>系统管理</span></a>
      	<ul class="children" style="display: block">
	        <li><a href="{:U("System/userList")}"><i class="fa fa-caret-right"></i> 用户列表</a></li>          
	        <li class="active"><a href="{:U("System/roleList")}"><i class="fa fa-caret-right"></i> 角色列表</a></li>
          <li class="active"><a href="{:U("System/menuList")}"><i class="fa fa-caret-right"></i> 菜单列表</a></li>
          
      	</ul> -->
    	</li>

    </ul>